
.work-sans-uniquifier {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.head{
    background-color: rgba(255, 144, 14, 0.1); ;
    
}
/*Nav-Section*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;

}
.nav-title{
    font-size: 25px;
    font-weight: bold;
}
.nav-container li{
    list-style: none;
}
.nav-container a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-section{
    display: flex;
    gap: 24px;
}
/*Banner-section*/
.banner{
    text-align: center;
    height: auto;
}
.banner h1{
    font-size: 60px;
    height: 130px;
}
.banner p{
    font-size: 18px;
    font-weight: 800px;
    height: 50px;
  
}
.btn-primary{
    padding: 15px 30px;
    background-color: rgb(255, 144, 14);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}
.banner-img img{
   margin-top: 30px;
    width: 800px;
    height: 400px;
    margin-bottom: 30px;
    text-align: center;
}
/*section-one*/
.feature{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-top: 100px;
    margin-left: 45px;
}
.feature-title h2{
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    border-left: 4px solid rgb(255, 144, 14);
    padding-left: 10px;
    padding-bottom: 10px;
    width: 400px;
}
.feature-title p{
    color:  rgb(114, 114, 114);
    width: 600px;
}
.feature-card-container{
    margin-left: 30px;
}
.feature-card {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(190, 188, 188, 0.3);
    padding: 10px;
    
}
.feature-card h3{
    font-size: 25px;
    font-weight: bold;
    height: 12px;
}
.feature-card p{
    color:rgb(114, 114, 114) ;
    width: 510px;
}
.feature-img img{
    width: 570px;
    height: 790px;
}
.btn-secondary{
   padding: 40px 45px;
   position: relative;
   top: -75px;
   left: -40px;
}
.btn-text{
    font-size: 35px;
}
.btn-des{
    font-size: 16px;
}
/*section-two*/
.fact-title{
    margin-top: 50px;
    margin-left: 90px;
}
.fact-title h3{
    font-size: 40px;
    height: 20px;
}
.fact-title p{
    color:rgb(114, 114, 114) ;
    width: 560px;
}
.fact-container{
    display: flex;
    justify-content: space-evenly;
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: 30px;
 
}
.card-img{
    margin-top: 40px;
    height: 20px;
}
.fact-card h5{
    font-size: 25px;
    font-weight: bold;
    height: 5px;
}

.fact-card p{
    font-size: 15px;
    color: rgb(114, 114, 114);
}
/*section three*/
.sponsor{
    margin-top: 100px;
    text-align: center;
}
.sponsor h1{
    font-size: 45px;
    font-weight: bold;
    height: 40px;
}
.sponsor p{
    color: rgb(114, 114, 114);
}
/*section-five*/
.sponsor-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.sponsor-list img{
    filter: grayscale(100%);
}
/*Footer section*/
.copyright{
    background-color: rgb(255, 244, 231);
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 210px;
   width: 900px;
   height: 50px;
   text-align: center;
}
.copyright div{
    font-size: 13px;
    align-items: center;
    padding-top: 17px;
}